# Preprocessing Raw Data

In [4]:
import pandas as pd
import numpy as np

raw_data = pd.read_csv('D:\\Kuliah\\VSCode\\ML\\Heart attack\\data\\raw\\heart_attack_prediction_indonesia.csv')
raw_data.head()

,age,gender,region,income_level,hypertension,diabetes,cholesterol_level,obesity,waist_circumference,family_history,...,blood_pressure_diastolic,fasting_blood_sugar,cholesterol_hdl,cholesterol_ldl,triglycerides,EKG_results,previous_heart_disease,medication_usage,participated_in_free_screening,heart_attack
0,60,Male,Rural,Middle,0,1,211,0,83,0,...,62,173,48,121,101,Normal,0,0,0,0
1,53,Female,Urban,Low,0,0,208,0,106,1,...,76,70,58,83,138,Normal,1,0,1,0
2,62,Female,Urban,Low,0,0,231,1,112,1,...,74,118,69,130,171,Abnormal,0,1,0,1
3,73,Male,Urban,Low,1,0,202,0,82,1,...,65,98,52,85,146,Normal,0,1,1,0
4,52,Male,Urban,Middle,1,0,232,0,89,0,...,75,104,59,127,139,Normal,1,0,1,1

In [7]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

target_col = "heart_attack"

num_cols = [
    "age",
    "hypertension",
    "diabetes",
    "cholesterol_level",
    "obesity",
    "waist_circumference",
    "family_history",
    "previous_heart_disease",
    "medication_usage",
    "participated_in_free_screening",
    "sleep_hours",
    "blood_pressure_systolic",
    "blood_pressure_diastolic",
    "fasting_blood_sugar",
    "cholesterol_hdl",
    "cholesterol_ldl",
    "triglycerides",
]


cat_cols = [
    "gender",
    "region",
    "income_level",
    "smoking_status",
    "alcohol_consumption",
    "physical_activity",
    "dietary_habits",
    "air_pollution_exposure",
    "stress_level",
    "EKG_results",
]



X = raw_data.drop(columns=[target_col])
y = raw_data[target_col]

num_trans = StandardScaler()
cat_trans = OneHotEncoder(handle_unknown='ignore')

preprocessor = ColumnTransformer(
    transformers =[
        ('num', num_trans, num_cols),
        ('cat', cat_trans, cat_cols)
    ])

X_t_df = preprocessor.fit_transform(X)
feature_names = preprocessor.get_feature_names_out()
X_t_df = pd.DataFrame(X_t_df, columns=feature_names)
y_t = y.to_numpy()
X_t_df["heart_attack"] = y_t
X_t_df.to_csv(r"D:\Kuliah\VSCode\ML\Heart attack\data\processed\processed.csv", index=False)